# Von Ansible verwaltete Datei - Manuelle Änderungen werden überschrieben!
export AWS_ACCESS_KEY_ID="{{ aws_access_key_vault }}"
export AWS_SECRET_ACCESS_KEY="{{ aws_secret_key_vault }}"
export RESTIC_PASSWORD="{{ restic_password_vault }}"
export RESTIC_REPOSITORY="{{ restic_repository_url }}"
